body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: black; */
    background-image: url("./images/backgroundShooter.jpg");
    background-size: cover;
    box-sizing: border-box;
}

canvas{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}